@charset "UTF-8";
/*
Author: Smart Code Media
Project:  
Version:  1.0

==================

====================*/
/* 0. Vars
*************************************/
/* 1. General Changes
*************************************/
/*
Author: Smart Code Media
Project:  
Version:  1.0

==================

====================*/
/* 0. Vars
*************************************/
/* 1. General Changes
*************************************/
/* body */

#home {
  overflow: hidden;
}

.btn-primary {
  background-color: rgba(244, 0, 169, 0.83);
  border: 2px solid #222;
  color: white;
  font-size: 16px;
  padding: 10px 35px;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: red;
}

/* 2. Navbar
====================*/
.navbar {
  box-shadow: 2px 2px 5px red;
  z-index: 199;
  border-radius: 10%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  /*padding-left: 0px;
  padding-right: 0px;*/
  position: sticky !important;
}

.navbar .navbar-brand img {
  width: 4rem;
  height: 5rem;
  margin-right: auto;
}

.navbar .nav-item .nav-link {
  color: red;
}

/* 2. home  ====================*/
#homepage {
  color: gold;
  background-image: url(../img/anfield.jpg);
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  font-family: "Permanent Marker", cursive;
}

.scene li h1:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  text-shadow: red 4px 4px;
  transition: 2s;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.scene {
  list-style-type: none;

  cursor: pointer;
}

.scene li h1 {
  position: relative;
  bottom: -180px;
  left: 50px;
}

/* Players */
#players {
  background: black;
  background-attachment: fixed;
  font-family: "Permanent Marker", cursive;
  border-top: solid 2px red;
}

.countries li h1:hover {
  text-shadow: gold 2px 2px;
  transition: 1s;
  cursor: pointer;
}

.btn {
  border-radius: 15%;
  border-color: white;
}

.btn:hover {
  background: transparent;
}

.countries {
  list-style-type: none;
}

#fixtures {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: solid 5px white;
}

.fix-info {
  position: absolute;
  background: black;
  border-radius: 10%;
  opacity: 0.7;
  bottom: 270px;
  right: 365px;
  padding-left: 20px;
  padding-right: 20px;
  position: center;
}

.fix-info:hover {
  box-shadow: goldenrod;
  cursor: default;
}

.carousel-image {
  opacity: 0.6;
}

.liv-logo {
  position: absolute;
  bottom: 285px;
  left: 280px;
  width: 4rem;
  height: 5rem;
}

.burn-logo {
  position: absolute;
  bottom: 285px;
  right: 280px;
  width: 3.5rem;
  height: 4.5rem;
}

.livs-logo {
  position: absolute;
  bottom: 285px;
  right: 280px;
  width: 4rem;
  height: 5rem;
}

.bay-logo {
  position: absolute;
  bottom: 285px;
  left: 280px;
  width: 4.8rem;
  height: 5.5rem;
}

.ful-logo {
  position: absolute;
  bottom: 285px;
  left: 280px;
  width: 4rem;
  height: 5rem;
}

#discussion {
  overflow: hidden;
}

.calender {
  display: block;
  margin: auto auto;
}

.para1 {
  border: solid 2px white;
  padding: 4px;
  text-align: center;
}

.folder {
  display: block;
  margin: auto auto;
}

.para2 {
  border: solid 2px white;
  padding: 4px;
  text-align: center;
}

.phone {
  display: block;
  margin: auto auto;
  width: 4rem;
  height: 6.5rem;
}

.para3 {
  border: solid 2px white;
  padding: 4px;
  text-align: center;
}

#Subscribe {
  border-top: 3px solid black;
  padding: 1rem;
}

.social-icons {
  color: blue;
  transition: 1s;
}

.social-icons:hover {
  color: red;
}

.heading-name {
  font-family: "Permanent Marker", cursive;
}

@media (max-width: 767px) {
  .scene li h1 {
    position: relative;
    bottom: -250px;
    left: 10px;
    font-size: 50px;
    color: gold;
  }

  .countries li h1 {
    position: relative;
    right: 15px;
  }
}